body{
    height: 100vh;
    background: #cd6d06;
}
.container{
    text-align: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    left: 25%;
    right: 25%;
}

#title{
    color: white;
    font-family: 'Poppins',sans-serif;
}

#newtask{
    display: flex;
    position: relative;
    padding: 30px 20px 10px 20px;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    min-height: 100px;
}
#newtask input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    margin-right: 15px;
}

#newtask input:focus{
    outline: none;
    border-color: #cd6d06;
}

#newtask button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #cd6d06;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}

#tasks{
    height: 50%;
    width: 50%;
    position: absolute;
    background-color: #cd6d06;
    padding: 20px 20px;
    margin-top: 10px;
    overflow: scroll;
    left: 40%;
}

.task{
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0px;
}

.taskname{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.delete{
    background-color: #cd6d06;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}
